:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--ds-header-bg);

    &-container {
      min-height: var(--ds-header-height);
    }
  }

  img#header-logo {
    height: var(--ds-header-logo-height);

    @include media-breakpoint-down(sm) {
      max-height: var(--ds-header-logo-height-xs);
    }
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

  #header-right {
    // @include media-breakpoint-up(md) {
    padding-top: 38px;
    // }
  }

  ::ng-deep .loginLink,
  ::ng-deep .dropdownLogin,
  ::ng-deep .logoutLink,
  ::ng-deep .dropdownLogout {
    color: var(--ds-navbar-link-color);

    &:hover, &:focus {
      text-decoration: none;
      color: var(--ds-navbar-link-color-hover);
    }
  }

  // Cibler l'image par sa classe au lieu de l'ID
  img.logo-udem {
    height: var(--ds-header-logo-height);
    max-width: 100%;
    width: auto;

    @include media-breakpoint-down(sm) {
      max-height: var(--ds-header-logo-height-xs);
    }
  }

  .text-logo-link {
    text-decoration: none !important;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 1;
    
    &:hover {
      .text-logo {
        text-decoration: underline !important;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar-brand {
      display: block;
    }
  }
}