// Override or add CSS variables for your theme here
/* -------------------------------------------------------
   Variables pour le thème vert
---------------------------------------------------------- */
@import './_variables_papyrus.scss';

:root {
  --bs-primary: #{$green};
  --bs-secondary: #{$darkgreen};

  --ds-header-height: 100px;
  --ds-header-logo-height: 60px;
  --ds-header-logo-height-xs: 53px;
  --ds-header-icon-color: #{$darkgreen};
  --ds-header-icon-color-hover: #{$green};

  --ds-navbar-link-color: #{$darkgreen};
  --ds-navbar-link-color-hover: #{$green};
  --ds-navbar-item-vertical-padding: 0.75rem;
  --ds-navbar-item-horizontal-padding: 0.75rem;

  --ds-header-navbar-border-bottom-color: #{$darkgreen};
  --ds-header-navbar-border-bottom-height: 1px;
  --ds-header-navbar-border-top-color: #{$darkgreen};
  --ds-expandable-navbar-link-color: #{$darkgreen};
  --ds-expandable-navbar-link-color-hover: #{$green};

  --ds-breadcrumb-bg: #{$white} !important;
  --ds-breadcrumb-link-color: #{$darkgreen};
  --ds-breadcrumb-link-active-color: #{$darkgreen};
  --ds-breadcrumb-link-color-hover: #{$darkgreen};

  --ds-slider-color: #{$lightgreen};

}
