// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

/* -------------------------------------------------------
   Variables pour le thème vert
---------------------------------------------------------- */
@import './_variables_papyrus.scss';


$theme-colors: (
  primary: $green,
  secondary: $greensecondary,
  success: $lightgreen,
  info: $blue,
  warning: $yellow,
  danger: $red,
  light: $extralightgreen,
  dark: $gray-600
) !default;

$link-color: map-get($theme-colors, info) !default;
