// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

// Import the font via the custom SCSS file
@import '../assets/fonts/opensans/open-sans';
@import '../assets/fonts/ubuntu/ubuntu';

// Configure Bootstrap to use this font (and list a number of backup fonts to use on various systems)
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif !default;
$font-family-sans-serif: 'Ubuntu', -apple-system, BlinkMacSystemFont, sans-serif !default;

/* Reassign color vars to semantic color scheme */
$blue: #0057ac !default;
$primary: #0057ac !default;

$secondary: #0b113a !default;
$darkblue: #0b113a !default;

$lightblue: #e5f0f8 !default;

$redorange: #f04e24;
$rose: #fee1de;
$darkgreen: #024244;
$lightgreen: #52b782;

$white: #ffffff !default;
$yellow: #ffca40 !default;
$red: #C8102E !default;
$dark: darken($blue, 17%) !default;

$gray-800: #343a40 !default;
$gray-700: #495057 !default;
$gray-400: #ced4da !default;
$gray-100: #f8f9fa !default;

$body-color: $gray-800 !default;  // Bootstrap $gray-800

$table-accent-bg: $gray-100 !default; // Bootstrap $gray-100
$table-hover-bg: $gray-400 !default; // Bootstrap $gray-400

$yiq-contrasted-threshold:  170 !default;

$theme-colors: (
        primary: $primary,
        secondary: $secondary,
        success: $primary,
        info: $primary,
        warning: $yellow,
        danger: $red,
        light: $lightblue,
        dark: $dark
) !default;

$link-color: map-get($theme-colors, info) !default;

