// =======================================================
// DSpace: Custom Bootstrap Variables Configuration
// =======================================================

// Note: DSpace works with CSS variables for its own components
// and provides a mapping of all Bootstrap Sass variables
// to their CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss).
// However, Bootstrap still uses Sass variables internally.
// If you want to override Bootstrap (or other Sass variables),
// you can do so here. Their CSS counterparts will include the changes you make.

// -------------------------------------------------------
// Font Family Definition
// -------------------------------------------------------
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// -------------------------------------------------------
// Color Palette
// -------------------------------------------------------
$gray-700: #607386 !default;
$gray-100: #f8f9fa !default;
$blue: #00407F !default;
$green: #52B782 !default;
$cyan: #024244 !default;
$yellow: #FFCA40 !default;
$red: #B72600 !default;
$dark: darken($blue, 17%) !default;

// -------------------------------------------------------
// Theme Colors
// -------------------------------------------------------
$theme-colors: (
  primary: $blue,
  secondary: $gray-700,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $dark
) !default;

// -------------------------------------------------------
// Link Color
// -------------------------------------------------------
$link-color: map-get($theme-colors, info) !default;
