.nav-bib {
  margin-left: 35%;
  margin-top: -50px;
  padding-bottom: 40px;
  width: 35%;
}

.dropdown-menu.show {
  display: block !important;
}

// UdeM Additions

.btn-dark {
  border-color: #dae0e5 !important;

  &:hover {
    border-color: #8a8f96 !important;
  }
}

.nav-item.dropdown {

  position: relative;
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0 0 0.25rem 0.25rem;
    z-index: 1000;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.2s ease;
    opacity: 0;

    &.show {
      max-height: 200px; /* Ajustez selon le contenu */
      opacity: 1;
      padding: 0.5rem 0;
    }
  }

}

.dropdown-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  clear: both;
  white-space: nowrap;
  transform: translateY(-10px);
  transition: transform 0.3s ease;

  .show & {
    transform: translateY(0);
  }

  &:hover {
    background-color: #f8f9fa;
  }
}



// Browse By Navbar Code Added by Team Scholaris
.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  overflow: hidden;
  @include media-breakpoint-down(sm) {
    border: 0;
    background-color: var(--ds-expandable-navbar-bg);
  }
  @include media-breakpoint-up(md) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--ds-navbar-dropdown-bg);
  }
}

.ds-menu-item-wrapper {
  position: relative; // align dropdown menu with respect to this element
}

.dropdown-item {
  color: var(--ds-navbar-link-color);
}

.dropdown-item:hover {
  background-color: transparent !important;
}

.toggle-menu-icon {
  &, &:hover {
    text-decoration: none;
  }
}

nav {
  min-height: var(--ds-header-height);

  @include media-breakpoint-up(md) {
    height: var(--ds-header-height);
  }
}

::ng-deep {
  .ds-menu-item, .ds-menu-toggler-wrapper, .ds-menu-item-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
//End of Browse By Navbar Code Added by Team Scholaris
