<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
     class="navbar navbar-light navbar-expand-md p-md-0 navbar-container bg-papyrus-menu" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <div class="container h-100 mt-2 p-2">
    <div id="collapsingNav" class="w-100 h-100">
      <ul class="navbar-nav navbar-navigation mr-auto shadow-none mb-lg-0 h-100 nav-udem">
        <ng-container *ngFor="let section of (sections | async)">
          <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
        </ng-container>
        <!-- Ajout du menu déroulant -->
        <li class="nav-item dropdown mt-1" >
          <a class="ds-menu-item " href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus" target="_blank">
            {{ 'papyrus.menu.principale.a_propos' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
