.nav-bib {
  margin-left: 35%;
  margin-top: -50px;
  padding-bottom: 40px;
  width: 35%;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu.show {
  display: block !important;
}

