<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
     class="navbar navbar-light navbar-expand-md p-md-0 navbar-container bg-papyrus-menu" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <div class="container h-100 mt-2 p-2">
    <div id="collapsingNav" class="w-100 h-100">
      <ul class="navbar-nav navbar-navigation mr-auto shadow-none mb-lg-0 h-100 nav-udem">
        <ng-container *ngFor="let section of (sections | async)">
          <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
        </ng-container>
        <!-- Ajout du menu déroulant -->
        <li class="nav-item dropdown mt-1" [ngClass]="{'show': isDropdownOpen}" (mouseleave)="toggleDropdown(false)">
          <a class="ds-menu-item dropdown-toggle" href="#" id="papyrusMenuDropdown" role="button"
             (click)="toggleDropdown()" aria-haspopup="true" [attr.aria-expanded]="isDropdownOpen">
            {{ 'papyrus.menu.principale.a_propos' | translate }}
          </a>
          <div class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="papyrusMenuDropdown">
            <a class="dropdown-item mt-1" href="https://bib.umontreal.ca/guides/bd/depot-institutionnel-papyrus" target="_blank">
              <i class="fas fa-external-link-alt fa-lg fa-fw"></i> {{ 'papyrus.menu.principale.a_propos_papyrus' | translate }}
            </a>
            <a class="dropdown-item mt-1" href="https://bib.umontreal.ca/gerer-diffuser/deposer-these-memoire" target="_blank">
              <i class="fas fa-external-link-alt fa-lg fa-fw"></i> {{ 'papyrus.menu.principale.sous_menu_1' | translate }}
            </a>
            <a class="dropdown-item mt-1" href="https://bib.umontreal.ca/public/bib/gerer-diffuser/guide_du_deposant.pdf" target="_blank">
              <i class="fas fa-external-link-alt fa-lg fa-fw"></i> {{ 'papyrus.menu.principale.sous_menu_2' | translate }}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
