<ds-results-back-button *ngIf="showBackButton$ | async" [back]="back"></ds-results-back-button>

<div class="person-page">

  <div class="d-flex align-items-start justify-content-between mb-4">
    <ds-item-page-title-field class="flex-grow-1 me-2" [item]="object">
    </ds-item-page-title-field>
    <ds-dso-edit-menu class="flex-shrink-0"></ds-dso-edit-menu>
  </div>

  <div class="row g-4 align-items-start">

    <aside class="col-12 col-md-4">

      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async"
                      [defaultImage]="'assets/images/person-placeholder.svg'"
                      [alt]="'thumbnail.person.alt'"
                      [placeholder]="'thumbnail.person.placeholder'">
        </ds-thumbnail>
      </ds-metadata-field-wrapper>

      <div class="mt-3">
        <ds-generic-item-page-field [item]="object"
          [fields]="['person.jobTitle']"
          [label]="'person.page.jobtitle'">
        </ds-generic-item-page-field>
        <ds-item-page-orcid-field [item]="object"></ds-item-page-orcid-field>
        <ds-generic-item-page-field [item]="object"
          [fields]="['person.email']"
          [label]="'person.page.email'">
        </ds-generic-item-page-field>
        <ds-generic-item-page-field [item]="object"
          [fields]="['dc.subject.discipline']"
          [label]="'papyrus.person.page.discipline'">
        </ds-generic-item-page-field>
        <ds-item-page-uri-field [item]="object"
          [fields]="['dc.identifier.uri']"
          [label]="'item.page.uri'">
        </ds-item-page-uri-field>
      </div>

      <div class="mt-3">
        <a class="btn btn-outline-primary btn-sm"
           [routerLink]="[itemPageRoute + '/full']"
           role="link" tabindex="0">
          {{"item.page.link.full" | translate}}
        </a>
      </div>

    </aside>

    <main class="col-12 col-md-8">
      <div class="mt-3">
        <ds-related-items
          [parentItem]="object"
          [relationType]="'isOrgUnitOfPerson'"
          [label]="'papyrus.person.page.relation.affiliation' | translate">
        </ds-related-items>
        <ds-related-items
          [parentItem]="object"
          [relationType]="'isProjectOfPerson'"
          [label]="'relationships.isProjectOf' | translate">
        </ds-related-items>
        <ds-related-items
          [parentItem]="object"
          [relationType]="'isPublicationOfAuthor'"
          [label]="'relationships.isPublicationOf' | translate">
        </ds-related-items>
        <ds-related-items
          [parentItem]="object"
          [relationType]="'isPublicationOfAdvisor'"
          [label]="'item.page.advisor' | translate">
        </ds-related-items>
      </div>
    </main>

  </div>

</div>
