<section class="espaces-section py-4 mb-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left side: Images -->
      <div class="col-lg-6 d-flex flex-column position-relative">
        <div class="main-image mb-3">
          <img src="assets/papyrus/images/espaces-main.png" alt="Main espace" class="img-fluid rounded">
        </div>
        <div class="secondary-image position-absolute">
          <img src="assets/papyrus/images/fille-prof.png" alt="Secondary espace" class="img-fluid">
        </div>
      </div>

      <!-- Right side: Text content -->
      <div class="col-lg-6 text-left text-lg-start pl-5 ">
        <h1 class="section-title mb-4 text-white pt-4">{{ 'papyrus.home.new.titre' | translate}}</h1>
        <p class="section-description mb-4" [innerHTML]="'papyrus.home.new.description' | translate"></p>
        <a href="/login" class="btn btn-primary btn-lg">{{ 'papyrus.home.new.bouton' | translate}}
          <img src="assets/papyrus/images/ArrowRight.svg" alt="Arrow Right" class="icon" /></a>
      </div>
    </div>
  </div>
</section>
