/* Section des espaces */
.espaces-section {
  background-color: #00407F;
  color: #FFFFFF;
  margin-top: -16px;
  border-top: 10px solid #00407F;

  .section-title {
    font-family: Figtree, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: start;
  }

  .section-description {
    font-family: Figtree, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: start;
    color: var(--Neutre-700, #EAEAEA);
  }

  .btn-primary {
    background-color: #fff;
    border-color: #fff;
    border-radius: 60px;
    font-size: 1rem;
    color: #00407F;
    height: 40px;
    padding: 0 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #0B113A;
      border-color: #0B113A;
      transform: translateY(-1px);
      color: white;
    }
  }

  .main-image img {
    border-radius: 16px;
  }

  .secondary-image {
    top: 75%;
    left: 50%;
    transform: translateY(-50%);
    border: 15px solid #00407F;
    border-radius: 5%;
    z-index: 2;
  }
}
