@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu'), local('Ubuntu'), url("/assets/montreal/fonts/ubuntu/4iCv6KVjbNBYlgoCjC3jsGyNPYZvgw.woff2") format('woff2');
}